.connect {
    padding: 5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background: $bg-landing-2;
    min-height: 70vh;

    .social-card-container {
        width: 46%;
        padding: 1rem;
        @include slideUp;

        .social-card {
            background: $bg-social-card;
            height: 7rem;
            display: flex;

            .image {
                padding: 1rem;
                width: 10%;

                img {
                    width: 100%;
                    height: 100%;
                }
            }

            .bg-insta {
                background-color: $bg-insta;
            }

            .bg-linkedin {
                background-color: $bg-linkedin;
            }

            .bg-twitter {
                background-color: $bg-twitter;
            }

            .bg-mail {
                background-color: $bg-mail;
            }

            .bg-facebook {
                background-color: $bg-facebook;
            }

            .bg-github {
                background-color: $bg-github;
            }

            .cover-text {
                padding: .3rem 0rem 0rem 2rem;

                p {
                    font-size: 2rem;
                }
            }
        }

        a {
            text-decoration: none;
            color: $land-font-color;
        }

        .hover-fb:hover {
            @include con-hover-effect($bg-facebook);
        }

        .hover-insta:hover {
            @include con-hover-effect($bg-insta);
        }

        .hover-linkedin:hover {
            @include con-hover-effect($bg-linkedin);
        }

        .hover-twitter:hover {
            @include con-hover-effect($bg-twitter);
        }

        .hover-github:hover {
            @include con-hover-effect($bg-github);
            color: $bg-github-dark;
        }
    }
}

.div-title {
    padding: 5rem 2rem 0rem;
    text-align: center;
    background-color: $bg-landing-2;

    h1 {
        margin: 0 !important;
        letter-spacing: .1rem;
        font-weight: 500;
        @include slideUp;

        &::first-letter {
            text-decoration: overline;
            text-decoration-color: $land-underline;
        }
    }
}

@media only screen and (max-width: 769px) {

    .connect {
        padding: 2rem;

        .social-card-container {
            width: 100%;
            padding: 1rem;

            .social-card {
                height: 6rem;

                .image {
                    width: 10%;
                }

                .cover-text {
                    padding: .5rem 0rem 0rem 1rem;

                    p {
                        font-size: 1.6rem;
                    }
                }

            }
        }
    }
}
