.footer {
    background: $bg-nav;
    display: flex;
    flex-wrap: wrap;

    .col {
        flex: 1;
        color: $white;
        text-align: center;
        padding: 4rem;

        p {
            font-size: 16px;
        }

        a {
            color: $white;
        }

        .connect-btn {
            @include com-button($bg-nav);
            margin-top: 6%;
        }

        .connect-btn:hover {
            @include com-button-hover($bg-landing, $bg-nav);
        }
    }
}

@media only screen and (max-width:769px) {
    .footer {
        .col:nth-child(1) {
            padding-bottom: 0;
        }
    }
}