.landingBlock {
    background-color: $bg-landing;
    min-height: 93vh;
    margin-top: -1px;

    .row:nth-child(1) {
        padding: 10rem;

        div:nth-child(1) {
            p {
                font-size: 8rem;
                margin: 3rem 0 3rem 0;
            }

            h1 {
                font-size: 12rem;
                margin: 0 0 30px 0;
            }

            .skillIntro {
                padding-left: 4px;

                p {
                    font-size: 2.5rem;
                    margin-top: 0;
                    letter-spacing: .2rem;
                }
            }
        }

        .profilePicture {
            flex: 1;
            order: 2;
            padding: 2rem 5rem;
            img {
                width: 100%;
                border: 10px solid $land-font-color;
                // border-radius: 50%;
                box-shadow: 0 0 50px 10px black;
            }
        }
    }
}

@media only screen and (max-width: 769px) {

    .landingBlock {
    
        .row:nth-child(1) {
    
            div:nth-child(1) {
                order: 2;
                p {
                    font-size: 4rem;
                    margin: 3rem 0 3rem 0;
                }
            
                h1 {
                    font-size: 4.6rem;
                }
            
                .skillIntro {
                    p {
                        font-size: 1.5rem;
                        margin-top: 0;
                        letter-spacing: .2rem;
                    }
                }
            }
    
            .profilePicture {
                flex: 1;
                order: 1;
                padding: 2rem 9rem;
                img {
                    border: 7px solid $white;
                }
            }
        }
    }
}