.landingBlock {
    min-height: 88vh;
    margin-top: -1px;

    .row:nth-child(1) {
        padding: 0rem 2rem 0rem 10rem;
        display: flex;
        position: absolute;
        top: 25%;

        div:nth-child(1) {
            flex: 1;
            order: 1;
            p {
                font-size: 8rem;
                margin: 3rem 0 3rem 0;
            }

            h1 {
                font-size: 12rem;
                margin: 0 0 30px 0;
            }

            h1::first-letter{
                text-decoration: underline;
                text-decoration-color: $bg-nav;
            }

            .skillIntro {
                padding-left: 4px;

                p {
                    font-size: 2.5rem;
                    margin-top: 0;
                    letter-spacing: .2rem;
                }
            }
        }

        .profilePicture {
            // flex: 1;
            order: 2;
            padding: 10rem 5rem 4rem;

            img {
                width: 100%;
                // border: 10px solid $land-font-color;
                // border-radius: 1.5rem;
                // box-shadow: 0 0 50px 10px black;
            }
        }
    }

    .down-arrow {
        text-align: center;
        padding-top: 2rem;
        span {
            padding-top: 23px;
            position: absolute;
            width: 26px;
            bottom: 50px;
            margin-left: -12px;
            border-left: 3px solid #001f3f;
            border-bottom: 3px solid #001f3f;
            transform: rotate(-45deg);
            animation: sdb05 1.5s infinite;
            box-sizing: border-box;
        }
    }

    @-webkit-keyframes sdb05 {
        0% {
            -webkit-transform: rotate(-45deg) translate(0, 0);
            opacity: 0;
        }

        50% {
            opacity: 1;
        }

        100% {
            -webkit-transform: rotate(-45deg) translate(-20px, 20px);
            opacity: 0;
        }
    }

    @keyframes sdb05 {
        0% {
            transform: rotate(-45deg) translate(0, 0);
            opacity: 0;
        }

        50% {
            opacity: 1;
        }

        100% {
            transform: rotate(-45deg) translate(-20px, 20px);
            opacity: 0;
        }
    }
}

@media only screen and (max-width: 769px) {

    .landingBlock {
        min-height: 60vh;
        .row:nth-child(1) {
            padding: 4rem 3rem 0rem 3rem;
            top: 20%;
            div:nth-child(1) {
                order: 2;

                p {
                    font-size: 4rem;
                    margin: 3rem 0 3rem 0;
                }

                h1 {
                    font-size: 4.6rem;
                }

                .skillIntro {
                    p {
                        font-size: 1.5rem;
                        margin-top: 0;
                        letter-spacing: .2rem;
                    }
                }
            }

            .profilePicture {
                flex: 1;
                order: 1;
                padding: 0rem 25rem;
            }
        }
    }
}

@media only screen and (max-width: 414px) {

    .landingBlock {
        min-height: 90vh;
        .row:nth-child(1) {
            padding: 4rem 3rem 0rem 3rem;
            top: 20%;
            div:nth-child(1) {
                order: 2;

                p {
                    font-size: 4rem;
                    margin: 3rem 0 3rem 0;
                }

                h1 {
                    font-size: 4.6rem;
                }

                .skillIntro {
                    p {
                        font-size: 1.5rem;
                        margin-top: 0;
                        letter-spacing: .2rem;
                    }
                }
            }

            .profilePicture {
                flex: 1;
                order: 1;
                padding: 0rem 8rem;
            }
        }
    }
}