.landingBlock {
    background-color: $bg-landing;
    min-height: 96vh;
    margin-top: -1px;

    .row:nth-child(1) {
        padding: 3rem;

        div:nth-child(1) {
            p {
                font-size: 8rem;
                margin: 3rem 0 3rem 0;
            }

            .text-slider {
                height: 13.8rem;
                overflow: hidden;

                div {
                    height: 13.8rem;
                    margin-bottom: 5rem;
                    box-sizing: border-box;
                }

                .slider1 {
                    font-size: 12rem;
                    margin-top: 0;
                    animation: slideUp 5s linear infinite;
                }

                .slider2 {
                    font-size: 12rem;
                    margin-top: 0;
                }

                .slider3 {
                    font-size: 12rem;
                    margin-top: 0;
                }
            }

            @media only screen and (max-width: 769px) {
                p {
                    font-size: 4rem;
                    margin: 3rem 0 3rem 0;
                }

                .text-slider {
                    h1:nth-child(1) {
                        font-size: 4.6rem;
                    }

                    h1:nth-child(2) {
                        font-size: 4.6rem;
                    }

                    h1:nth-child(3) {
                        font-size: 4.6rem;
                    }
                }
            }
        }
    }
}

@keyframes slideUp {
    0% {
        margin-top: -300px;
    }

    5% {
        margin-top: -200px;
    }

    33% {
        margin-top: -200px;
    }

    38% {
        margin-top: -100px;
    }

    66% {
        margin-top: -100px;
    }

    71% {
        margin-top: 0px;
    }

    100% {
        margin-top: 0px;
    }
}