.introduction {
    // min-height: 100vh;
    background-color: $bg-landing;
    display: flex;
    flex-wrap: wrap;

    .col:nth-child(1) {
        flex: 1;

        .profilePicture {
            flex: 1;
            order: 2;
            padding: 10rem 6rem;

            img {
                width: 100%;
                // border: 10px solid $land-font-color;
                // border-radius: 1.5rem;
                box-shadow: -4px 4px 20px 2px rgb(61, 61, 61);
            }
        }
    }

    .col:nth-child(2) {
        flex: 2;
        padding: 0rem 6rem 0rem;

        h1 {
            font-size: 5rem;
            text-align: center;
            text-decoration: underline;
            text-decoration-color: $bg-nav;
        }

        p {
            font-size: 2rem;
            color: #001f3f;
            text-align: justify;
            text-indent: 10rem;
            word-spacing: 1rem;
        }
    }
}

.skills-btn {
    background-color: $bg-landing;
    text-align: center;
    padding: 4rem 0rem 6rem;

    button {
        height: 5rem;
        width: 25rem;
        font-size: 1.6rem;
        font-weight: bold;
        color: $white;
        border: none;
        letter-spacing: 0.2rem;
        background-color: $bg-nav;
        transition: all 0.45s ease-in-out;
    }

    button:hover {
        border: 5px solid $bg-nav;
        background-color: $bg-landing;
        color: $bg-nav;
        cursor: pointer;
        transition: all 0.45s ease-in-out;
    }
}

@media only screen and (max-width: 769px) {

    .introduction {

        .col:nth-child(1) {

            .profilePicture {
                padding: 0rem 8rem 3rem 6rem;
            }
        }

        .col:nth-child(2) {
            flex: 2;
            padding: 0rem 3rem 0rem;
        }
    }
}