.introduction {
    background-color: $bg-landing-2;
    display: flex;
    flex-wrap: wrap;
    padding-top: 5rem;

    .col:nth-child(1) {
        flex: 1;

        .profilePicture {
            flex: 1;
            order: 2;
            padding: 10rem 6rem;

            img {
                width: 100%;
                // border: 10px solid $land-font-color;
                // border-radius: 1.5rem;
                box-shadow: -4px 4px 20px 2px #151515;
            }
        }
    }

    .col:nth-child(2) {
        flex: 2;
        padding: 0rem 6rem 0rem;

        h1 {
            font-size: 5rem;
            text-align: center;
            text-decoration: underline;
            text-decoration-color: $land-underline;
        }

        p {
            font-size: 2rem;
            color: $land-font-color;
            text-align: justify;
            text-indent: 10rem;
            word-spacing: 1rem;
        }
    }
}

.skills-btn {
    background-color: $bg-landing-2;
    text-align: center;
    padding: 4rem 0rem 6rem;

    button {
        @include com-button($bg-nav);
    }

    button:hover {
        @include com-button-hover($bg-nav, $bg-landing-2);
    }
}

@media only screen and (max-width: 769px) {

    .introduction {

        .col:nth-child(1) {

            .profilePicture {
                padding: 0rem 8rem 3rem 6rem;
            }
        }

        .col:nth-child(2) {
            flex: 2;
            padding: 0rem 3rem 0rem;
        }
    }
}