@mixin a-style {
    color: $land-font-color;
    text-decoration: none;
}

@mixin a-draw-line($width, $bottom, $left) {
    content: "";
    position: absolute;
    width: $width;
    height: 4px;
    bottom: $bottom;
    left: $left;
    background-color: $nav-effect-color;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out;
}

@mixin a-draw-line-hover {
    visibility: visible;
    transform: scaleX(1);
}

@mixin com-button($font-color) {
    height: 5rem;
    width: 25rem;
    font-size: 1.6rem;
    font-weight: bold;
    color: $font-color;
    border: none;
    letter-spacing: 0.2rem;
    transition: all 0.45s ease-in-out;
}

@mixin com-button-hover($border-color, $bg-color) {
    border: 5px solid $border-color;
    background-color: $bg-color;
    cursor: pointer;
    color: $white;
    transition: all 0.45s ease-in-out;
}

@mixin con-hover-effect($bg-color) {
    background: $bg-color;
    transition: all .45s ease-in-out;
}

@mixin slideUp {
    animation: slideUp .7s ease-in-out both;
    opacity: 0;
}

@keyframes slideUp {
    0% {
        transform: translate3d(0, 40px, 0);
    }

    100% {
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
}