.Navbar {
    background-color: $bg-landing;
    height: 7rem;
    display: flex;

    .brand {
        flex-grow: 1;

        h1 {
            margin: 0px;
            padding: 2.1rem 2.7rem;
            letter-spacing: 0.2rem;
            font-size: 2.5rem;
        }
    }

    .nav {
        margin-right: 0;
        text-align: right;
        padding: 2.7rem;

        a {
            color: $white;
            text-decoration: none;
            font-size: 1.5rem;
            padding: 20px;

            &:hover {
                color: $hover-color;
            }
        }

        svg {
            height: 3.2rem;
            width: 3.2rem;
            margin-top: -10px;
        }
    }

    .expand {
        display: flex;
        flex-direction: column;
        top: 6.9rem;
        position: absolute;
        height: 100vh;
        width: 100vw;
        background: linear-gradient(45deg, $mob-menu-gradient1, $mob-menu-gradient2);;

        &>* {
            font-size: 2rem;
            padding: 2.2rem 2.7rem;
            text-decoration: none;
            color: $white;
            transition: all .15s ease-in-out;
            border-bottom: 1px solid $menuBorderColor;
        }
    }

    .expand-bg {
        background-color: $bg-mob-nav;
    }
}

.fadeInUp {
    animation-name: fadeInUp;
    animation-duration: .45s;
    animation-fill-mode: both;
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}