// styles for skills component

.skillsCard {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    min-height: 100vh;
    background: $bg-landing-2;

    .card-container {
        flex: 1;
        flex-basis: 12%;
        text-align: center;
        padding: 5rem 5rem 5rem 5rem;
        @include slideUp;

        .card {
            min-height: 15rem;
            min-width: 10rem;
            box-shadow: -3px 3px 40px 3px #151515;

            .image-container {
                min-height: 15rem;
                background: $card-bg-color;
                border-radius: 6px;

                img {
                    width: 100%;
                }
            }

            .content-container {
                padding: 1.5rem;

                p {
                    font-size: 14px;
                    text-align: justify;
                }
            }
        }
    }
}


@media only screen and (max-width: 769px) {

    .skillsCard {

        padding: 2rem 0 2rem 0;
    
        .card-container {
            flex: 0 1;
            padding: 2rem 2rem 2rem 2rem;
    
            .card {
                min-height: 5rem;
                min-width: 7rem;
                width: 10%;
    
                .image-container {
                    min-height: 7rem;
                }
            }
        }
    }
}