$bg-landing : #DDDDDD;
$bg-nav: #0074D9;
$white: white;
$land-font-color: #001f3f;
// $bg-second: #001f3f;
$hover-color: #dbdbdb;
$bg-mob-nav: #c9c9c9;
$menuBorderColor: #929292;
$mob-menu-gradient1: #DDDDDD;
$mob-menu-gradient2: rgb(160, 160, 160);
$nav-effect-color:#0074D9;