$bg-landing : #DDDDDD;
$white: white;
$land-font-color: #001f3f;
// $bg-second: #001f3f;
$hover-color: #dbdbdb;
$bg-mob-nav: #3000a0;
$menuBorderColor: #4e18cc;
$mob-menu-gradient1: #15063a;
$mob-menu-gradient2: #3700b9;