$bg-landing : #1f4068;
$bg-nav: #162447;
$white: white;
$land-font-color: #ececec;
$card-bg-color: #ececec;
$land-underline: #f6c90e;
$bg-landing-2: #0f4c75;
$tip-color: #341677;
$bg-dec: #3282b8;
$bg-social-card: #29435c;
// $bg-second: #001f3f;
$hover-color: #dbdbdb;
$bg-mob-nav: #c9c9c9;
$menuBorderColor: #929292;
$mob-menu-gradient1: #DDDDDD;
$mob-menu-gradient2: rgb(160, 160, 160);
$nav-effect-color:white;