// colot palatte

$bg-landing : #280087;
$white: white;
$hover-color: #dbdbdb;
$bg-mob-nav: #3000a0;
$menuBorderColor: #4e18cc;

@import './styles/nav.scss';
@import './styles/home.scss';

html {
  font-size: 62.5%;
}

.App {
  font-family: 'Ubuntu';
  color: $white;
}

.row{
  display: flex;
}

.colFlex1Center{
  flex: 1;
  text-align: center;
}

