// colot palatte
@import './styles/variables.scss';
@import './styles/nav.scss';
@import './styles/home.scss';
@import './styles/footer.scss';
@import './styles/introduction.scss';
@import './styles/skills.scss';
@import './styles/projects.scss';
@import './styles/connect.scss';
// @import './styles/mixins.scss';

html {
  font-size: 62.5%;
}

.App {
  font-family: 'Ubuntu';
  color: $land-font-color;
}

body {
  background-color: $bg-landing;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.colFlex1Center {
  flex: 1;
  text-align: center;
}

::-webkit-scrollbar {
  width: .7rem;
}

::-webkit-scrollbar-track {
  background: $bg-landing;
}

::-webkit-scrollbar-thumb {
  background: $land-font-color;
}