// colot palatte
$blue : #280087;
$white: rgb(201, 52, 52);


.App {
  font-family: 'Ubuntu';
  color: $white;
  font-size: 10px;
}

.Navbar{
  background-color: $blue;
  height: 4.5rem;
  display: flex;
  .brand{
    h1{
      margin: 0px;
      padding: 20px;
      font-size: 2rem;
    }
  }
  .nav{
    h3{
      margin: 0px;
      padding: 20px;
      font-size: 1.3rem;
    }
  }
  
}


